# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
CLAUDE.md
FEATURE_VENTA_DESDE_CLIENTE.md
MODULOS_VENTAS_PRODUCTOS.md
supabase-schema.sql
supabase-schema-ventas-productos.sql

.env
supabase-migrations

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
